PS_DATA_SOURCE_URI=postgresql://username:password@your-external-postgres:5432/your_database
PS_STORAGE_POSTGRESQL_URI=postgresql://storage_user:storage_password@your-storage-postgres:5432/powersync_storage

PS_PORT=80

PS_API_TOKEN=your-secure-api-token-here

PS_TELEMETRY_DISABLED=false

PS_LOG_LEVEL=info

NODE_OPTIONS=--max-old-space-size=800

PS_JWK_N="29d_cUGg97CwL7eAxJurJG7XWTU6vh1GVBpMbOqn1g3FHqJcN94vrxZcjkDyjHnwwvnZMYLohxBo7xS6VkMZkK-CtCvw6ian24uJ4S1o3MDPSeoaj66bED3gPfstwq6RR3jKAboy4OGu2Kmq_V4DPPeDy_O5TzH2HlxR9Fn7zb7PhMgxRwJRFuijqfWjr9m3PgQ8A1k-YFJiZSUItlUnNp-sCNhWGwoA_YsKA78x18JKOz7V-FhSUDhfB42X_9g5c_aZWJ2eBpaGv1wRk2YVqwqW3PyEqlOcIFbsOdXbMwyaru6D0B6tHwMTpq5PrGvwLSkYgbnS2jv0x3C_QCc9pw"
PS_JWK_E="AQAB"
PS_JWK_KID="enc-1756875265"
PS_JWKS_AUDIENCE="powersync"